* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Chilanka', cursive;
  outline: none;
}

body {
  min-height: 100vh;
}

header {
  text-align: center;
  margin: 2rem;
  font-size: 1.5rem;
  text-shadow: 6px 3px 0px rgba(173, 169, 169, 0.6);
}

.list {
  background-color: ghostwhite;
  width: 40%;
  margin: 0 auto;
  padding-bottom: 20px;
  margin-bottom: 35px;
  border: none;
  box-shadow: 10px 15px 22px 0px rgba(117, 110, 117, 0.92);
  animation: show 1s linear;
}

form {
  padding: 15px;
  min-height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input, form button {
  padding: 0.5rem;
  font-size: 1rem;
  background: ghostwhite;
}

form button {
  border: none;
  cursor: pointer;
  transition: font-size 0.2s linear;
}

form button:hover {
  font-size: 1.2rem;
}

form input {
  border: 2px solid #ada9a9;
  border: none;
  box-shadow: inset -3px 7px 26px 33px rgba(173, 169, 169, 0.2);
}

p {
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 15px;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 95%;
  list-style: none;
}

.todo {
  margin: 0.5rem;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  border: none;
  background: rgba(250, 216, 25, 0.973);
  background: linear-gradient(120deg, rgba(250, 216, 25, 0.973) 7%, rgba(250, 236, 159, 0.973) 85%);
  animation: show 1s linear;
}

.todo li {
  flex: 1;
}

.trash-btn, .complete-btn {
  background: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  transition: font-size 0.2s linear;
}

.trash-btn:hover, .complete-btn:hover {
  font-size: 1.2rem;
}

.complete-btn {
  background: #89ca28;
}

.trash-btn {
  background: #d84646;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash, .fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.removing {
  transform-origin: 50px 20px;
  animation: delete 0.6s ease-out backwards;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes delete {
  0% {
    opacity: 1;
  }
  50% {
    transform: translateX(300px);
    opacity: 0.5;
  }
  100% {
    transform: translateX(380px);
    opacity: 0;
  }
}
