$outline: rgb(173, 169, 169);
$text: rgba(173, 169, 169, 0.6);
$shadow: 10px 15px 22px 0px rgba(117,110,117,0.92);
$todo: rgba(250, 216, 25, 0.973);
$outer: rgba(250, 236, 159, 0.973);
$background: ghostwhite;
$fill: rgb(240, 238, 238);
$inner: rgb(253, 246, 246);

$transition: font-size 0.2s linear;